<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>Mohan Kumar Tulabandu - N01620006</h1>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>@copy; 2024 Mohantulabandhu@gmail.com</p>
    </footer>
  </body>
</html>